<div class="top-stripe"></div>
<nav class="page-nav">
    <ul>
        <li><%= link_to 'Home', articles_path %></li>
        <li><%= link_to 'New', articles_path %></li>
    </ul>
</nav>

<div class="main-wrapper">
    <div class="content-box">

      <%= render 'form' %>

    </div>
</div>
