<div class="top-stripe">
    <div class="first-chevron"></div>
    <div class="second-chevron"></div>
    <div class="third-chevron"></div>
</div>
<nav class="page-nav">
    <ul>
        <li><%= link_to 'Home', articles_path %></li>
    </ul>
</nav>

<div class="main-wrapper">
    <div class="content-box">

      <%= render 'form' %>

    </div>
</div>
