<div class="top-stripe">
  <nav class="page-nav">
    <%= link_to 'Home', articles_path %>
    <%= link_to 'New', new_article_path %>
  </nav>
</div>

<div class="content-box">
  <h1><%= @article.title %></h1>
  <p><%= @article.text %></h1>
</div>

</div>
