$nav-background-colour: #3c596e;
$top-stripe-background-color: #6e838f;

.top-stripe{
    padding: 20px;
    background-color: $top-stripe-background-color;
    min-height: 50px;
}

.first-chevron{
    margin-left: 15%;
    height: 50px;
    width: 70px;
    -webkit-clip-path: polygon(100% 0, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    clip-path: polygon(100% 0, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-image: image-url('chevron.jpg');
    background-color: #000;
    opacity: 0.7;
    border-color: #fff;
    display: inline-block;
    vertical-align: middle;
}

.first-chevron:hover{
    opacity: 1;
}

.second-chevron{
    @extend .first-chevron;
    margin-left: 10px;
    background-image: image-url('chevron2.jpg');
    height: 40px;
}

.third-chevron{
    @extend .first-chevron;
    margin-left: 10px;
    background-image: image-url('chevron3.jpg');
    height: 30px;
}

nav{
    background-color: $nav-background-colour;
    // box-shadow: 0 -3px 5px rgba(0,0,0,0.5);

    ul{
        width: 70%;
        list-style: none;
        padding: 10px;
        margin: 0 auto;
    }

    li{
        display: inline;
        padding: 10px;
        border-bottom: none;
        transition: border-bottom 0.15s ease-in-out;
    }

    a{
        background-color: transparent;
        text-decoration: none;
        color: #fff;
        font-family: 'Bitter';
        font-weight: 700;
        transition: color 0.15s ease-in-out;
    }

    // li:hover{
    //     transition: background-color 1s ease-out 1s;
    // }

    li:hover:nth-child(1){
        border-bottom: 3px solid #007BFF;
        a{
            color: #007BFF;
        }
    }

    li:hover:nth-child(2){
        border-bottom: 3px solid #ff3700;
        a{
            color: #ff3700;
        }
    }
}
