// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);

*{
    margin: 0;
}

.main-wrapper{
    padding-top: 20px;
    background-color: #f2f2f2;
    height: 100%;
}

// .content-box{
//     @import "articles_content"
// }
//
// .page-nav{
//     @import "articles_nav";
// }
