.content-box{

    width: 70%;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 0 3px 5px #ccc;
    margin-bottom: 20px;
    background-color: #fff;

    p{
        font-family: 'Bitter';
        font-weight: 400;
        line-height: 1.6em;
        margin: 10px;
    }

    h1{
        font-family: 'Bitter';
        font-weight: 700;
        border-bottom: 1px solid #ccc;
        margin: 10px;
    }

    li{
        font-family: 'Bitter';
        font-weight: 400;
    }
}
